* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ABOUT PAGE */
.about {
    padding: 40px 10%;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 50px;
}

.about-text {
    flex: 1;
}

.about-text h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.about-text p {
    margin-bottom: 15px;
    color: #555;
    line-height: 1.6;
}

.about-image {
    flex: 1;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
}
