* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONTACT PAGE */
.contact {
    padding: 0px 10%;
    text-align: center;
    margin-top: 40px;
}

.contact h1 {
    font-size: 40px;
}

.contact-container {
    display: flex;
    gap: 50px;
    margin-top: 40px;
    justify-content: center;
}

.contact-info {
    text-align: left;
}

.contact-info h3 {
    margin-top: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 350px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form textarea {
    height: 120px;
}

.contact-form button {
    padding: 12px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}